<h1>Wellcome</h1>

<%=
    link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
    link_to('Sign out', destroy_user_session_path, data: { turbo_method: :"delete" }, class: 'btn btn-danger m-5')
      end
  %>